html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background-image: url('../img.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  position: relative;
  min-width: 358px;
  margin: 20px;

  background-image: linear-gradient(12deg, #0a0a0a, #12171b);
  border: 2px solid #2f2f2f;
  border-radius: 25px;
  cursor: pointer;
}

.calculator:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 28px;
  height: 26px;
  width: 300px;
  background-color: black;
  border-radius: 20px;
  box-shadow: 0 60px 40px hsla(0, 0%, 0%, 0.34);
}

.light {
  position: absolute;
  width: 355px;
  height: 4px;
  background-color: #00ffba;
  box-shadow: 0 0 8px 1px hsla(170, 100%, 70%, 0.7),
    0 0 16px hsla(170, 100%, 62%, 0.98);
  transition: opacity 0.02s ease-in;
  opacity: 1;
  
}
#name{
   color:#161f1a;
   text-shadow: 3px 2px 4px #00ffba;
   font-size: 30px; 
    font-family:Gill Sans Extrabold, sans-serif;
}


#res {
  min-height: 90px;
  padding: 60px 42px 0 20px;
  color: #e8e8e8;
  font-family:Gill Sans Extrabold, sans-serif;
  font-size: 46px;
  font-weight: 300;
  text-align: right;
  box-shadow: 0 0 8px 1px hsla(170, 100%, 70%, 0.7),
    0 0 16px hsla(170, 100%, 62%, 0.98);

}

#res::selection {
  background-color: hsla(170, 50%, 17%, 0.8);
}

#btns {
  margin: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row:first-of-type {
  margin-bottom: 20px;
}

button {
  width: 68px;
  height: 68px;
  margin: 0px;
  border: none;
  border-radius: 50px;
  background-color: hsla(0, 0%, 100%, 0.05);
  color: #e8e8e8;
  cursor: pointer;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 24px;
  font-weight: 300;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: hsla(0, 0%, 100%, 0.09);
}

button:active {
  background-color: hsla(0, 0%, 100%, 0.03);
}

#btnClr,
#btnEql {
  background-color: hsla(160, 50%, 17%, 0.5);
  color: #00ffba;
}

#btnClr:hover,
#btnEql:hover {
  background-color: hsla(160, 50%, 17%, 0.8);
}


body:not(.user-is-tabbing) button:focus {
  outline: none;
}
